* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #1870ed 0%, #f18f88 100%);
}

.container {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px 40px 40px 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15), 0 15px 90px 30px rgba(0, 0, 0, 0.25);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  white-space: nowrap;
  margin-top: 15px;
}

a {
  font-size: 0.7em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  transition: all 0.8s ease-in-out;
  padding: 4px;
  flex: 1;
}

a:active, a:focus, a:visited {
  color: white;
}

a:hover {
  border: 1px solid rgba(225, 225, 225, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.stopWatch {
  width: 100%;
  font-size: 3em;
  text-align: center;
  color: gray;
}

.results {
  width: 100%;
  color: white;
  font-size: 0.7em;
  margin-top: 15px;
}

.results p {
  text-align: center;
  text-transform: uppercase;
}

.results li {
  list-style-type: none;
}
